<ng-template #contentShift let-modal>
    <div class="modal-header">
        <h4 class="modal-title prime-color" id="modal-basic-title">
            New Employee
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">
                ×
            </span>
        </button>
    </div>
    <div class="modal-body">
        <span>Unit Size: 51</span>
        <div *ngFor="let item of employee.shift;let indexOfelement=index;">
            <div class="flex shift-wrap shift-head">
                <input class="supervisor-in f1" type="text" [(ngModel)]="item.designation" id="designation"
                    name="designation">
                <div class="pos f1 tc">
                    <label *ngIf="indexOfelement==0" for=""># Positions</label>
                    <input type="text" [(ngModel)]="item.positions" id="positions" name="positions">
                </div>
                <div class="shift-times f1 tc">
                    <label *ngIf="indexOfelement==0" for="">Shift Times</label>
                    <div class="flex ac jsb">
                        <input type="text" [(ngModel)]="item.shiftInTime" id="shiftInTime" name="shiftInTime">
                        <input type="text" [(ngModel)]="item.shiftOutTimne" id="shiftOutTimne" name="shiftOutTimne">
                    </div>
                </div>
                <div class="meal-times f1 tc">
                    <label *ngIf="indexOfelement==0" for="">Meal Times</label>
                    <div class="flex ac jsb">
                        <input type="text" [(ngModel)]="item.mealInTime" id="mealInTime" name="mealInTime">
                        <input type="text" [(ngModel)]="item.mealOutTimne" id="mealOutTimne" name="mealOutTimne">
                    </div>
                </div>
                <div class="RDOs f1 tc">
                    <label for="">RDOs</label>
                    <div *ngIf="indexOfelement==0" class="flex ac jsb">
                        <label for="">Su</label>
                        <label for="">M</label>
                        <label for="">T</label>
                        <label for="">W</label>
                        <label for="">Th</label>
                        <label for="">F</label>
                        <label for="">Sa</label>
                    </div>
                    <div class="flex ac jsb">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[0]=!employee.shift[indexOfelement].days[0]"
                            [ngModel]="employee.shift[indexOfelement].days[0]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[1]=!employee.shift[indexOfelement].days[1]"
                            [ngModel]="employee.shift[indexOfelement].days[1]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[2]=!employee.shift[indexOfelement].days[2]"
                            [ngModel]="employee.shift[indexOfelement].days[2]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[3]=!employee.shift[indexOfelement].days[3]"
                            [ngModel]="employee.shift[indexOfelement].days[3]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[4]=!employee.shift[indexOfelement].days[4]"
                            [ngModel]="employee.shift[indexOfelement].days[4]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[5]=!employee.shift[indexOfelement].days[5]"
                            [ngModel]="employee.shift[indexOfelement].days[5]">
                        <input type="checkbox"
                            (change)="employee.shift[indexOfelement].days[6]=!employee.shift[indexOfelement].days[6]"
                            [ngModel]="employee.shift[indexOfelement].days[6]">
                    </div>
                </div>
                <div class="stagger f1 tc">
                    <label *ngIf="indexOfelement==0" for="">Stagger RDOs</label>
                    <select [(ngModel)]="item.staggerRdo" id="staggerRdo" name="staggerRdo">
                        <option value="N/A">N/A</option>
                    </select>
                </div>
                <div class="f1 remove">
                    <span *ngIf="indexOfelement != 0" class="material-icons prime-color"
                        (click)="DeleteShift(indexOfelement)">
                        remove_circle_outline
                    </span>
                </div>
            </div>
            <div *ngIf="indexOfelement==0" class="hr s-m"></div>
        </div>
        <button class="btn add-btn prime-color flex ac" (click)="addShift()">
            <span class="material-icons prime-color">
                add_circle_outline
            </span>
            <span>Add</span>
        </button>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-back btn-outline-primary" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            BACK
        </button>
        <button type="button" class="btn btn-outline-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
            CANCEL
        </button>
        <button type="button" class="btn btn-primary" (click)="save()">
            SUBMIT
        </button>
    </div>
</ng-template>