<ng-template #contentInfo let-modal>
    <div class="modal-header">
        <h4 class="modal-title prime-color" id="modal-basic-title">New Employee</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/action_page.php">
            <div class="form-group">
                <label for="empName" class="prime-color">Employee IDCode:</label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="employee.employeeCode"
                    id="employeeCode" name="employeeCode">
            </div>
            <div class="form-group">
                <label for="displayName">Work Locations:</label>
                <select [(ngModel)]="employee.workLocation" id="workLocation" name="workLocation">
                    <option value="Location1">Location 1</option>
                    <option value="Location2">Location 2</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-back btn-outline-primary" aria-label="Close" (click)="openDetail()">
            BACK
        </button>
        <button type="button" class="btn btn-outline-primary" aria-label="Close" (click)="modal.dismiss('Cross click')">
            CANCEL
        </button>
        <button type="button" class="btn btn-primary" (click)="openShift()">
            NEXT
        </button>
    </div>
</ng-template>

<app-insert-employee-skill></app-insert-employee-skill>