<app-filter>
    
</app-filter>
<section class="employee s-m">
    <div class="container employee-cont">
        <table class="w100 employee-table">
            <thead>
                <tr>
                    <th>Work Unit</th>
                    <th>Work Site</th>
                    <th class="tc">Unit Size</th>
                    <th class="tc">Active Until</th>
                    <th class="danger tc">Flex Capable</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="danger tc">Yes</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="danger tc">Yes</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>
                <tr>
                    <td class="prime-color">AAPD</td>
                    <td>DIA</td>
                    <td class="tc">22/24</td>
                    <td class="tc">12/2023</td>
                    <td class="tc">No</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>
