<app-filter>

</app-filter>
<section class="employee s-m">
    <div class="container employee-cont">
        <table class="w100 employee-table">
            <thead>
                <tr>
                    <th>
                        <div class="flex ac">
                            <span> Work Unit </span>
                            <span class="material-icons arr-d" (click)="sortData()">
                                {{isAscendingSort ? 'arrow_downward': 'arrow_upward'}}
                            </span>
                        </div>
                    </th>
                    <th>Work Site</th>
                    <th class="tc">Unit Size</th>
                    <th class="tc">Active Until</th>
                    <th class="danger tc">
                        <div class="fc">
                            Flex Capable
                            <span class="material-icons danger-icon">
                                warning
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of employees;">
                    <td class="prime-color">{{item.workLocation}}</td>
                    <td>{{item.workSite}}</td>
                    <td class="tc">22/24</td>
                    <td class="tc">{{item.activeThroghtDate}}</td>
                    <td class="tc">No</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>